.center {
  text-align: center;
}
/*Navigation Links Animation (Scale in Scale out)*/
.navigation {
  text-align: center;
  font-size: 1.3em;
  transition: font-size 0.25s ease-in-out, font-weight 0.5s ease-in-out, transform 0.25s ease-in-out;
  /* Add transform transition */
  font-weight: normal;
  /* Set initial font weight to italic */
  transform: translateX(0);
  /* Center the transition */
}

.navigation:hover {
  font-size: 1.45em;
  /* Change font weight to normal on hover */
  transform: translateX(0);
  /* Keep the transition centered */
}

